@font-face {
    font-family: "CustomFont";
    src: url("./font/varelaround-regular-webfont.woff")format("woff");
}

#mostra_immagine{
    margin: 0 auto;
    display: flex;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
}

html{
    background-color: #202020;
}



#titolo{
    width: 300px;
}

#corpo{
    text-align: center;
}

#testo_input{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(116, 221, 113);
    transition-duration: .2s;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: "CustomFont";
}

#testo_input:focus{
    outline-width: 0px;
    box-shadow: 0px 0px 10px inset rgb(116, 221, 113);
}

#bottone_invio{
    opacity: 0;
}

#punti{
    font-size: 24px;
    font-family: "CustomFont";
    color:white;
    text-align: center;
}

#ricominciare{
    opacity: 0%;
    display: flex;
    margin: 0 auto;
    text-align:center;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(218, 46, 46);
    box-shadow: 0px 5px 0px rgb(143, 9, 9);
    font-size: 35px;
    font-family: "CustomFont";
    color:white;
    transition-duration: .2s;
}

#ricominciare:focus{
    margin-top: 5px;
    box-shadow: 0px 0px 0px rgb(143, 9, 9);
}

#icona_rotella{
    display: flex;
    margin: 0 auto;
    margin-top: 7px;
}

#impostazioni{
    margin-top: 40px;
    color:white;
    text-align: center;
    font-family: "CustomFont";
}

#impostazioni_generali{
    display: flex;
    margin:0 auto;
}

#master_volume{
    display: flex;
    margin:0 auto;
}